{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}
{% block content %}
        {% if tag %}
        <div class="SpecialContainer">
            <h2>Posts tagged with "{{tag.name}}"</h2>
        </div>
        {% endif %}
        <div class="SpecialContainer">
            <h2>Search for a post</h2>
            <a href="{% url 'blog:post_search' %}">
                click here
            </a>
        </div>
        {% for post in posts %}
        <div class="PostContainer">
            <h2>
                <a href="{{ post.get_absolute_url }}" class="postTitle">
                    {{post.title}}
                </a>
            </h2>

            <p class="tags"> 
                Tags: 
                {% for tag in post.tags.all %}
                    <div class="tags_container">
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                            {{tag.name}}
                        </a>
                    </div>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <p class="date">
                Published {{post.publish}} by {{post.author}}
            </p>
            {{ post.body|markdown|truncatewords_html:30}}
        </div>
        {% endfor %}
        {% include "blog/pagination.html" with page=posts %}
{% endblock %}